MONGODB_URI=mongodb+srv://peonyadmin:YOUR_PASSWORD@peonycluster.cvh020p.mongodb.net/peonydb?appName=PeonyCluster
JWT_SECRET=peony_jwt_secret_2026_super_secure
WHATSAPP_TOKEN=YOUR_WHATSAPP_PERMANENT_TOKEN
PHONE_NUMBER_ID=1096711590199347
VERIFY_TOKEN=peony2026
PORT=3000
